:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1em;
}

.flex-item {
  width: var(--width);
  margin-bottom: 1em;
}

.flex-item h2 {
  text-shadow: 2px 2px var(--primary-color);
  letter-spacing: 0.1em;
}
.container {
  position: relative;
}

textarea, .previewer {
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  height: 70vh;
}

textarea {
  display: block;
  border: 5px ridge var(--primary-color);
  outline: none;
}

.previewer {
  border: 1px solid var(--primary-color);
  overflow-y: scroll;
}

.icon {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 2em;
}

.icon:hover {
  color: var(--primary-color);
}

@media(max-width: 500px) {
  .flex-item {
    --width: 90%;
  }

  .icon {
    visibility: hidden;
  }
}