:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1em;
}

.flex-item {
  width: var(--width);
  margin-bottom: 1em;
}

.flex-item h2 {
  text-shadow: 2px 2px var(--primary-color);
  letter-spacing: 0.1em;
}
.container {
  position: relative;
}

textarea, .previewer {
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  height: 70vh;
}

textarea {
  font-family: monospace;
  font-size: 1.2em;
  display: block;
  border: 5px ridge var(--primary-color);
  outline: none;
}

textarea:hover {
  box-shadow: 0 0 5px 1px white;
  transform: translateX(1px);
}

textarea:focus {
  box-shadow: 0 0 10px 1px orange;
  transform: none;
}
.previewer {
  overflow-y: scroll;
}

.icon {
  position: absolute;
  top: 10px;
  right: -20px;
  font-size: 1.5em;
  color: var(--primary-color);
}

.icon:hover {
  color: inherit;
}

@media(max-width: 500px) {
  .flex-item {
    --width: 90%;
  }

  .icon {
    visibility: hidden;
  }
}