<section class="flex-item">
	<h2>Edit</h2>
	<div class="container">
		<textarea [formControl]="markdown" class="editor">
    </textarea>

		<div class="icon" (click)="isMinimised = !isMinimised">
			<i *ngIf="isMinimised"  class="fas fa-plus-circle"></i>
			<i *ngIf="!isMinimised"  class="fas fa-minus-circle"></i>
		</div>
	</div>
</section>

<div class="flex-item">
	<h2>Preview</h2>
	<div class="container">
		<div (click)="isMinimised = !isMinimised" *ngIf="!isMinimised">
		<i class="icon fas fa-minus-circle"></i>
		</div>

	</div>
	<div class="previewer" [innerHTML]="html"></div>

</div>