:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section {
  width: var(--width);
  margin-bottom: 1em;
}

.section-heading {
  text-shadow: 2px 2px var(--primary-color);
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

/* .icon-container {
  position: relative;
} */

.editor, .previewer {
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  height: 70vh;
}

.editor {
  font-family: monospace;
  font-size: 1.1em;
  line-height: 1.4;
  display: block;
  border: 3px ridge var(--primary-color);
  outline: none;
}

.editor:hover {
  box-shadow: 0 0 4px 1px rgb(197, 56, 56);
}

.previewer {
  overflow-y: scroll;
}

.icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--primary-color);
}

.icon:hover {
  color: var(--accent-color);
}

@media(max-width: 400px) {
  .section {
    --width: 90%;
  }
}