.icon-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--primary-color);
}

.icon:hover {
  color: var(--accent-color);
}

@media(max-width: 400px) {
  .icon {
    visibility: hidden;
  }
}