
html {
  --primary-color: #ffaa00;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  display: inline-block;

  padding: 0.5em;
  background-color: lightblue;
  overflow: scroll;
}